.popup__name {
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  margin-top: 54px;
  width: 83.2558139%;
  font-size: 14px;
  line-height: 17px;
  margin: 54px auto 0;
  outline: none;
}


.popup__name:focus,
.popup__name:active {
  border: 2px solid blue
}