.profile__job {
  margin: 0;
  padding-top: 16px;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 800px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    padding-top: 14px;
  }
}